@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Roboto&display=swap");

:root {
  --cor-fundo: #0c282e;
  --cor-fundo2: #15505e;
  --cor-login-title: rgba(59, 245, 140, 0.562);
  --cor-primaria: #b1edf8;
  --cor-body: #0a2d33;
}

body {
  width: 100%;
  margin: 0px;
  padding: 0px;
  font-family: "Noto Sans", sans-serif;
}

body * {
  box-sizing: border-box;
}

.nav-home {
  font-size: 2vw;
  color: #eaf7f0d7;
  margin: 0;
  padding: 0;
  text-decoration: none;
  align-items: center;
  justify-content: space-between;
}
.nav-home:hover {
  font-size: 2.5vw;
  color: #00ff88;
  transition: 0.5s;
}

.main-login {
  width: 100vw;
  height: 100vh;
  background: var(--cor-body);
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-login {
  width: 50vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.left-login > h1 {
  font-size: 2vw;
  color: var(--cor-primaria);
  margin: 2px;
  padding: 5px;
}

.left-login-image {
  width: 40vw;
}
.right-login {
  width: 50vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-login {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px 35px;
  background: var(--cor-fundo);
  border-radius: 20px;
  box-shadow: 0px 10px 40px #00000056;
}

.card-login > h1 {
  color: #00ff88;
  font-weight: 800;
  margin: 0;
}

.textfield {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 10px 0px;
}

.textfield > input {
  width: 100%;
  border: none;
  border-radius: 10px;
  padding: 15px;
  background: var(--cor-fundo2);
  color: var(--cor-login-title);
  font-size: 12pt;
  box-shadow: 0px 10px 40px #00000056;
  outline: none;
  box-sizing: border-box;
}

.textfield > label {
  color: #f0ffffde;
  margin-bottom: 10px;
}

.textfield > input::placeholder {
  color: #f0ffff94;
}

.cadastro {
  margin: 0;
  margin-top: 10px;
  padding: 0px;
}
.click {
  margin: 0;
  padding: 2px;
  text-decoration: none;
  color: white;
}

.click:hover {
  font-size: 1.4vw;
  color: #00ff88;
  transition: 0.5s;
  text-decoration: underline;
}

.btn-login {
  width: 100%;
  padding: 16px 0px;
  margin: 25px;
  border: none;
  border-radius: 8px;
  outline: none;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 3px;
  color: var(--cor-fundo2);
  background: #00ff88;
  cursor: pointer;
  box-shadow: 0px 10px 40px -12px #00ff8052;
}

@media only screen and (max-width: 950px) {
  .card-login {
    width: 85%;
  }
}
@media only screen and (max-width: 600px) {
  .main-login {
    flex-direction: column;
  }
  .left-login > h1 {
    display: none;
  }
  .left-login {
    width: 100%;
    height: auto;
  }
  .right-login {
    width: 100%;
    height: auto;
  }
  .right-login-image {
    width: 50vw;
  }
  .card-login {
    width: 90%;
  }
}
